@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Vidly Movies Store</h1>
    <p class="lead">Welcome to Vidly. 
        <p>
            Home of the largest selection of Blu-ray, Home Entertainment Electronics, and More.
        </p>
        </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Blu-Rays</h2>
        <p>
            The highest quality picture fidelity known to man. Experience truly life-like images from your home entertainment system.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Home Entertainment Systems</h2>
        <p>
             Bring the realism into your home. Experience true cinema in the comfort of your living room.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Everything you could ask</h2>
        <p>Find exactly what you need at the price you want. Don't wait, just buy!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>