@*
    model is what is loaded into the view from the corresponding method in the Controller class.
    In this case, model is set to an Enumerable of Customer because it is being passed a list of Customer objects (return View(customers))
*@
@using Vidly.Models
@model IEnumerable<Vidly.Models.Customer>

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>


<button type="button" class="btn btn-primary" style="margin-top: 20px; margin-bottom: 20px">@Html.ActionLink("New Customer", "New", "Customers")</button>

@*
    If statement checking if Model(An Enumerable list) contains any objects in it.
*@
@if (!Model.Any())
{
    <p>There are currently no customers.</p>
}
else
{
    @*
        Creates a table with the first column with the name Customer.
        Loops through all objects in the enumerable list (Model) and creates an action link with that Customer's name, and has the link point to the Details method.
        Details method computers logic based on
    *@
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Membership Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>@Html.ActionLink(customer.Name, "Details", "Customers", new { id = customer.Id }, null)</td>
                    <td>@customer.MembershipType.Name</td>
                </tr>
            }
        </tbody>
    </table>

}
